# トリップデータを整形するためのコード
e-statで公開されている純流動調査のトリップデータのcsvファイルを推定に使用しやすいように整形する．

In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# import CSVFile
df_trip = pd.read_csv("１日（平日）データ都道府県間od表（出発地-目的地）_代表機関.csv", header=1, encoding="shift_jis", index_col=False)
display(df_trip)

,コード,名称,コード.1,名称.1,コード.2,名称.2,コード.3,名称.3,10歳代,20歳代,...,年齢合計.2,10歳代.3,20歳代.3,30歳代.3,40歳代.3,50歳代.3,60歳代.3,70歳以上.3,不明.3,年齢合計.3
0,1,道北,48,道東,1,仕事,1,航空,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,道北,48,道東,2,観光,1,航空,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,道北,48,道東,3,私用・帰省,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,道北,48,道東,4,その他,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,道北,48,道東,0,不明,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60495,47,沖縄,46,鹿児島,1,仕事,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60496,47,沖縄,46,鹿児島,2,観光,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60497,47,沖縄,46,鹿児島,3,私用・帰省,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60498,47,沖縄,46,鹿児島,4,その他,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60499,47,沖縄,46,鹿児島,0,不明,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 不要な列を削除
以下の列は不要なので，この段階で削除しておきます．
- 男女の合計のトリップ人数が記載された列
- 男女それぞれの年齢ごと合計トリップ人数が記載された列
- 性別不明の人のトリップ人数が記載された列

In [3]:
df_trip2 = df_trip.drop(columns=df_trip.columns[[8,9,10,11,12,13,14,15,16,24,25,33,34,35,36,37,38,39,40,41,42,43]])
display(df_trip2)

,コード,名称,コード.1,名称.1,コード.2,名称.2,コード.3,名称.3,10歳代.1,20歳代.1,...,50歳代.1,60歳代.1,70歳以上.1,10歳代.2,20歳代.2,30歳代.2,40歳代.2,50歳代.2,60歳代.2,70歳以上.2
0,1,道北,48,道東,1,仕事,1,航空,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,道北,48,道東,2,観光,1,航空,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,道北,48,道東,3,私用・帰省,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,道北,48,道東,4,その他,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,道北,48,道東,0,不明,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60495,47,沖縄,46,鹿児島,1,仕事,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60496,47,沖縄,46,鹿児島,2,観光,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60497,47,沖縄,46,鹿児島,3,私用・帰省,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60498,47,沖縄,46,鹿児島,4,その他,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60499,47,沖縄,46,鹿児島,0,不明,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 列名の再設定
各列の列名を設定し直しします．

In [4]:
df_trip3 = df_trip2.set_axis(['O_code', 'O_name', 'D_code', 'D_name', 'purpose_code', 'purpose_name', 'mode_code', 'mode_name', 'M10', 'M20', 'M30', 'M40', 'M50', 'M60', 'M70', 'F10', 'F20', 'F30', 'F40', 'F50', 'F60', 'F70'], axis=1)
display(df_trip3)

,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,M10,M20,...,M50,M60,M70,F10,F20,F30,F40,F50,F60,F70
0,1,道北,48,道東,1,仕事,1,航空,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,道北,48,道東,2,観光,1,航空,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,道北,48,道東,3,私用・帰省,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,道北,48,道東,4,その他,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,道北,48,道東,0,不明,1,航空,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60495,47,沖縄,46,鹿児島,1,仕事,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60496,47,沖縄,46,鹿児島,2,観光,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60497,47,沖縄,46,鹿児島,3,私用・帰省,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60498,47,沖縄,46,鹿児島,4,その他,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60499,47,沖縄,46,鹿児島,0,不明,5,乗用車等,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 異なる個人属性が同一行に入り交じることがないように，振り分け
元データでは，異なる性別や年齢のトリップデータが同一行内に集計されているので，それらを振り分けます．

In [5]:
target_columns = ['M10', 'M20', 'M30', 'M40', 'M50', 'M60', 'M70', 'F10', 'F20', 'F30', 'F40', 'F50', 'F60', 'F70']

rows = []

for _, row in df_trip3.iterrows():
    active_cols = [col for col in target_columns if pd.notna(row[col]) and row[col] >= 1]
    
    if len(active_cols) <= 1:
        rows.append(row)
    else:
        for col in active_cols:
            new_row = row.copy()
            for c in target_columns:
                new_row[c] = row[c] if c == col else 0
            rows.append(new_row)

df_trip4 = pd.DataFrame(rows).reset_index()
display(df_trip4)

,index,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,M10,...,M50,M60,M70,F10,F20,F30,F40,F50,F60,F70
0,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,道北,48,道東,2,観光,1,航空,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,1,道北,48,道東,3,私用・帰省,1,航空,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121607,60495,47,沖縄,46,鹿児島,1,仕事,5,乗用車等,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121608,60496,47,沖縄,46,鹿児島,2,観光,5,乗用車等,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121609,60497,47,沖縄,46,鹿児島,3,私用・帰省,5,乗用車等,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121610,60498,47,沖縄,46,鹿児島,4,その他,5,乗用車等,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121611,60499,47,沖縄,46,鹿児島,0,不明,5,乗用車等,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 0で埋める
df_trip5 = df_trip4.fillna(0)
display(df_trip5)

,index,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,M10,...,M50,M60,M70,F10,F20,F30,F40,F50,F60,F70
0,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,道北,48,道東,1,仕事,1,航空,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,道北,48,道東,2,観光,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,1,道北,48,道東,3,私用・帰省,1,航空,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121607,60495,47,沖縄,46,鹿児島,1,仕事,5,乗用車等,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121608,60496,47,沖縄,46,鹿児島,2,観光,5,乗用車等,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121609,60497,47,沖縄,46,鹿児島,3,私用・帰省,5,乗用車等,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121610,60498,47,沖縄,46,鹿児島,4,その他,5,乗用車等,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121611,60499,47,沖縄,46,鹿児島,0,不明,5,乗用車等,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 男性ダミー/女性ダミーの作成
M10からM70のいずれかの列に値が入っている，すなわち男性の旅行者のトリップを記録した行は，男性ダミーを1にし，F10からF70のいずれかの列に値が入っている，すなわち女性のの旅行者のトリップを記録した行の場合は，女性ダミーを1にします．

In [7]:
# 男性と女性の列
male_cols = ['M10', 'M20', 'M30', 'M40', 'M50', 'M60', 'M70']
female_cols = ['F10', 'F20', 'F30', 'F40', 'F50', 'F60', 'F70']

# 男性・女性のどれかに1以上があるかを判定
is_male = df_trip5[male_cols].gt(0).any(axis=1)
is_female = df_trip5[female_cols].gt(0).any(axis=1)

# ダミー変数の作成
df_trip5['sex_code'] = np.where(is_male, 1, np.where(is_female, 2, np.nan))
df_trip5['sex_name'] = np.where(is_male, 'Male', np.where(is_female, 'Female', None)).astype(object)


# 男性でも女性でもない（つまりすべてNaN）の行を削除
df_trip6 = df_trip5.dropna(subset=['sex_code']).reset_index()
display(df_trip6)

,level_0,index,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,...,M70,F10,F20,F30,F40,F50,F60,F70,sex_code,sex_name
0,0,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
1,1,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
2,2,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
3,7,5,1,道北,48,道東,1,仕事,2,鉄道,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
4,8,5,1,道北,48,道東,1,仕事,2,鉄道,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78832,121596,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male
78833,121597,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,2.0,Female
78834,121598,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,2.0,Female
78835,121599,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,...,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Female
78836,121600,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,2.0,Female

## 年齢ダミーの作成
M10もしくはF10の列に値が入っている，すなわち10歳代の旅行者のトリップを記録した行は10歳代ダミーを1にするというように各年齢のダミー変数を作成します．

In [8]:
# 年齢ごとの条件とコードを定義
age_conditions = [
    (df_trip6['M10'] > 0) | (df_trip6['F10'] > 0),
    (df_trip6['M20'] > 0) | (df_trip6['F20'] > 0),
    (df_trip6['M30'] > 0) | (df_trip6['F30'] > 0),
    (df_trip6['M40'] > 0) | (df_trip6['F40'] > 0),
    (df_trip6['M50'] > 0) | (df_trip6['F50'] > 0),
    (df_trip6['M60'] > 0) | (df_trip6['F60'] > 0),
    (df_trip6['M70'] > 0) | (df_trip6['F70'] > 0)
]

age_codes = [10, 20, 30, 40, 50, 60, 70]
age_names = ["10歳代", '20歳代','30歳代', '40歳代', '50歳代', '60歳代', '70歳以上']

# ダミー変数の作成
df_trip6["age_code"] = np.select(age_conditions, age_codes, default=np.nan)
# df_trip6["age_name"] = np.select(age_conditions, age_names, default=None)

display(df_trip6)

,level_0,index,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,...,F10,F20,F30,F40,F50,F60,F70,sex_code,sex_name,age_code
0,0,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,20.0
1,1,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,40.0
2,2,0,1,道北,48,道東,1,仕事,1,航空,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,50.0
3,7,5,1,道北,48,道東,1,仕事,2,鉄道,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,30.0
4,8,5,1,道北,48,道東,1,仕事,2,鉄道,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78832,121596,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,60.0
78833,121597,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,2.0,Female,40.0
78834,121598,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,...,0.0,0.0,0.0,0.0,0.0,18.0,0.0,2.0,Female,60.0
78835,121599,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Female,10.0
78836,121600,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,2.0,Female,30.0

## 各行のトリップ数をnum列に記入
各行のトリップ数をnum列に記入します．

In [9]:
# まず対象の列をリスト化
check_columns = ['M10', 'M20', 'M30', 'M40', 'M50', 'M60', 'M70',
               'F10', 'F20', 'F30', 'F40', 'F50', 'F60', 'F70']

# 各行で対象列の合計をnum列に格納（1つだけ値がある前提でその値を取得）
df_trip6['num'] = df_trip6[check_columns].sum(axis=1, min_count=1)

# 対象列を削除
df_trip6 = df_trip6.drop(columns=check_columns)

display(df_trip6)

,level_0,index,O_code,O_name,D_code,D_name,purpose_code,purpose_name,mode_code,mode_name,sex_code,sex_name,age_code,num
0,0,0,1,道北,48,道東,1,仕事,1,航空,1.0,Male,20.0,2.0
1,1,0,1,道北,48,道東,1,仕事,1,航空,1.0,Male,40.0,3.0
2,2,0,1,道北,48,道東,1,仕事,1,航空,1.0,Male,50.0,2.0
3,7,5,1,道北,48,道東,1,仕事,2,鉄道,1.0,Male,30.0,2.0
4,8,5,1,道北,48,道東,1,仕事,2,鉄道,1.0,Male,40.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78832,121596,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,1.0,Male,60.0,24.0
78833,121597,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,2.0,Female,40.0,9.0
78834,121598,60487,47,沖縄,46,鹿児島,3,私用・帰省,3,幹線旅客船,2.0,Female,60.0,18.0
78835,121599,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,2.0,Female,10.0,18.0
78836,121600,60488,47,沖縄,46,鹿児島,4,その他,3,幹線旅客船,2.0,Female,30.0,9.0

In [10]:
df_trip6.to_csv("trip_person_merge.csv", encoding='shift_jis', index=False)